
<h3 class="text-center">  First component</h3>
<div class=" d-flex justify-content-center align-items-center mt-5">
    <div class="header d-flex">
        <input type="text" #product class="form-control" />
        <button (click)="sendMessage(product.value)" class="btn btn-primary ms-3">Send </button>
      </div>
</div>

